<!doctype html>
<html>
<body>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {{ message | raw }}
        {% endfor %}
    {% endfor %}

</body>
</html>